html
  font-family: Verdana
body
  background-image: url(/images/movie.png)
  background-repeat: no-repeat
  background-position: 50% 50%
  background-attachment: fixed
#film_form
  width: 33%
  border-style: solid
  border-size: 1px
  padding: 2px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
#film_results_box
  border-size: 1px
  border-style: solid
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  width: 33%

.film_results
  padding: 2px
	
.rating
  color: rgb(255,0,0)

.title
  font-size: 100%
