%html
  %head
    %title What shall we watch?
    %link{:href=>'base.css',:media=>'screen',:rel=>'stylesheet',:type=>'text/css'} 
    %script{:type=>"text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1098906-7']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %h1
      What shall we watch?
  
    %h2
      Start entering the name of the films below.
  
    #film_form
      %form(action='/lookup' method='POST' class='film_form')
        %label Film
        %input(type='text' name='film_name' value='' class='film_name')
        %input(type='hidden' name='film_number' value='1')
        %input(type='submit' value='Search')

    #film_results_box
      %script{:type=>"text/javascript",:src=>"https://www.google.com/jsapi?key=ABQIAAAARqO0mtjo3Ok5BLhk4lJJwRRfuJdoSDzvJL2Olwdpt7Vh88WwiBR4vGkLL4JD_Zg5jt3PJPm6_3U1Pw"}
      
    %script{:src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js",:type=>"text/javascript"}
    %script{:src=>"/javascript/jquery-form.js",:type=>"text/javascript"}    
    %script{:src=>"/javascript/underscore.js",:type=>"text/javascript"}    
    %script{:src=>"/javascript/backbone.js",:type=>"text/javascript"}    
    %script{:src=>"/javascript/application.js",:type=>"text/javascript"}
